---
title: contact kitt
subhead: contact
permalink: /contact/index.html
---
{% extends 'layouts/default.njk' %}
{% block main %} 
  <p>email at <a href="mailto:kittemailcontact@gmail.com"><code>kittemailcontact@gmail.com</code></a>. Ask for my discord. </p>
{% endblock %}